<%= render 'admin/list' %>

<h2>管理者ログイン</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="container"></div>
    <div class="row mt-3 text-center">
      <div class="col-5">
        メールアドレス
      </div>
      <div class="col-5">
        <div class="field">
          <%= f.email_field :email, autofocus: true, required: true, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row mt-3 text-center">
      <div class="col-5">
        パスワード
      </div>
      <div class="col-5">
        <div class="field">
          <%= f.password_field :password, autofocus: true, required: true, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="mx-auto mt-3">
        <div class="actions">
          <input type="submit" name="commit" value="ログイン" class="btn btn-sm btn-success" data-disable-with="Sign in">
        </div>
      </div>
    </div>

    <%= render "admin/shared/links" %>
<% end %>
</div>
