<%= render 'admin/list' %>
<div class="container">
  <div class="row">
    <div class="col-4">
      <h4><strong><%= @customer.full_name %></strong>さんの<strong>会員詳細</strong></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <p>会員ID</p>
      <p>氏名</p>
      <p>フリガナ</p>
      <p>郵便番号</p>
      <p>住所</p>
      <p>電話番号</p>
      <p>メールアドレス</p>
      <p>会員ステータス</p>
    </div>
    <div class="col-10">
      <p><%= @customer.id %></p>
      <p><%= @customer.first_name %> <%= @customer.last_name %></p>
      <p><%= @customer.first_name_kana %> <%= @customer.last_name_kana %></p>
      <p><%= @customer.postal_code %></p>
      <p><%= @customer.address %></p>
      <p><%= @customer.telephone_number %></p>
      <p><%= @customer.email %></p>
      <p><%= @customer.is_deleted %></p>
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: 'btn btn-success' %>
      　　<%= link_to "注文履歴一覧を見る", admin_path(@customer.id), class: 'btn btn-primary' %>
    </div>
  </div>
</div>