<%= render 'public/list' %>
<div class="container">
  <div class="row">
    <div class="col-4">
      <h3>ログイン</h3>
      <p>会員の方はこちらからログイン</p>
    </div>
  </div>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-4">
      <h4>メールアドレス</h4>
    </div>
    <div class="col-8">
      <div class="field">
        <%= f.email_field :email, autofocus: true, autofocus: true, required: true, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-4">
      <h4>パスワード</h4>
    </div>
    <div class="col-8">
      <div class="field">
        <%= f.password_field :password, autofocus: true, autofocus: true, required: true, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4 mx-auto mt-3">
      <div class="actions">
        <input type="submit" name="commit" value="ログイン" class="btn btn-sm btn-success" data-disable-with="Sign in">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4 mx-auto mt-3">
      <p>会員登録がお済みでない方</p>
    </div>
  </div>
  
<% end %>

<%= render "public/shared/links" %>
</div>